*{font-family: 'Roboto Mono', monospace;text-align: center;}

.color_contrast_1{
    background-color:rgb(66,28,82);
    color:rgb(255,255,255);
}

.top_header_bar{
    position:fixed;
    overflow: hidden;
    top:0;
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5.2rem;
}

.internal_nav_button{
    margin:1rem;
    cursor:pointer;
}

.internal_nav_button:hover{
    background-color: blueviolet;
}

.half_space_left{
    margin-left:.5rem;
}

.link_list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.text_list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.antydisconfortbar{
    height: 5.2rem;
}

.entry_title{
    margin: 5rem;
    font-size: 40px;
}

.entry_text{
    margin: 2rem;
    font-size: 18px;
}