*{font-family: 'Roboto Mono', monospace;text-align: center;}
html {
    width:100%;
    scroll-behavior: smooth;
}
body{width:100%;}

.color_contrast_1{
    background-color:rgb(66,28,82);
    color:rgb(255,255,255);
}

.top_header_bar{
    position:fixed;
    overflow: hidden;
    top:0;
    left:0;
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5.2rem;
}

.internal_nav_button{
    border:1rem;
    cursor:pointer;
}

.half_space_left{
    margin-left:.5rem;
}

.extra_l_r_borders{
    border-left:2rem;
    border-right:2rem;
}

.container_border_spacing{
    border:2.5rem;
}

.link_list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.text_list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.vertical_list{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.antydisconfortbar{
    height: 5.2rem;
}

.hitting_text{
    color: rgb(66,28,82);
    font-size: 78px;
}

.entry_title{
    color: rgb(66,28,82);
    font-size: 40px;
}

.entry_text{
    color: rgb(66,28,82);
    font-size: 18px;
}

.soft_appear{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main_table{
    width: 100%;
}

.colored_row{
    background-image: linear-gradient(to bottom right, rgb(66,28,82), rgb(0,100,200));
}

.colored_row_2{
    background-image: linear-gradient(to top right, rgb(66,28,82), rgb(0,100,200));
}

.row_height{
    height: 400px;
}

.main_clear_text{
    font-size: 60px;
    color: white;
}

.subtitle_clear_text{
    font-size: 24px;
    color: white;
}

.output_example_1{
    text-align: left;
}

.minimal_spacing{
    margin: 2rem;
    border: 2rem;
}

a:link {
    color: white;
}
  
a:visited {
    color: orange;
}
  
a:hover {
    color: grey;
}
  
a:active {
    color: red;
}

.lim_w_text{
    max-width: 410px;
}

.min_height_text{
    min-height:15rem;
}