[Unit]
Description=synchronicity web server
After=network.target

[Service]
Environment=PATH=/usr/bin:/usr/local/bin:/snap/bin
Environment=NODE_ENV=production
Restart=always
WorkingDirectory=/home/andthenbeyond/synch_web/
ExecStart=/usr/bin/node /home/andthenbeyond/synch_web/server.js
StartLimitInterval=3
StartLimitBurst=1

[Install]
WantedBy=multi-user.target